.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 50px 60px;
  width: 580px;
  border-radius: 50px;
  margin: 48px auto;
  background-color: white;
}
label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  justify-content: center;
}
.feedback-form input,
.feedback-form textarea {
  display: block;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 16px 18px;
  width: 100%;
  margin-bottom: 18px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  outline: none;
  resize: none;
  transition: border-color 250ms ease-in-out;
  cursor: pointer;
}
.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #3350e9;
}
.feedback-form button {
  background-color: #3350e9;
  border-radius: 16px;
  padding: 17px 24px;
  width: 160px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  margin: auto;
  color: #fbfbfb;
  transition: background-color 250ms ease-in-out;
}
.feedback-form button:is(:hover, :focus) {
  background-color: #1f3cd4;
}
